body {
    border: 5%;
    padding: 5%;
    margin-top: 0%;
    margin-left: 0%;
    margin: 5%;
    width: 80%;
    font-family: "Consolas"

}

.container {
    background-color: rgb(202, 202, 37);
}

#container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-areas: "area1 area1 area2 area2"
        "area1 area1 area2 area2"
        "area3 area3 area4 area4"
        "area3 area3 area4 area4"
        "area5 area5 area6 area6"
        "area5 area5 area6 area6"
        "area7 area7 area8 area8"
        "area7 area7 area8 area8"
        "area9 area9 area10 area10"
        "area9 area9 area10 area10";
    grid-gap: 10px;
}

.fotos {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    margin-left: calc(50% - 60px);
}
#fotos1{
    margin-top: 10px;
    height: 250px;
    width: 310px;
    margin-left: calc(40% - 35px);
}

.fotos2 {
    margin-top: 10px;
    height: 215px;
    width: 215px;
    margin-left: calc(20% - 60px);
}

.fotos3 {
    margin-top: 10px;
    height: 215px;
    width: 215px;
    margin-right: calc(10% - 10px);
}

#drone1 {
    grid-area: area1;
    border: 2px solid #000000;
    background-color: rgb(148, 06, 214);
}

#drone2 {
    grid-area: area2;
    border: 2px solid #000000;
    background-color: rgb(242, 28, 00);
}

#drone3 {
    grid-area: area3;
    border: 2px solid #000000;
    background-color: rgb(255, 234, 00);
}

#drone4 {
    grid-area: area4;
    border: 2px solid #000000;
    background-color: rgb(255, 234, 00);
}
#drone5 {
    grid-area: area5;
    border: 2px solid #000000;
    background-color: rgb(255, 234, 00);
}
#drone6 {
    grid-area: area6;
    border: 2px solid #000000;
    background-color: rgb(255, 234, 00);
}
#drone7 {
    grid-area: area7;
    border: 2px solid #000000;
    background-color: rgb(245, 61, 184);
}
#drone8 {
    grid-area: area8;
    border: 2px solid #000000;
    background-color: rgb(122, 245, 61);
}
#drone9 {
    grid-area: area9;
    border: 2px solid #000000;
    background-color: rgb(137, 225, 245);
}
#drone10 {
    grid-area: area10;
    border: 2px solid #000000;
    background-color: rgb(227, 77, 18);
}
#cena1 {
    grid-area: area1;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0.836);
}
#cena2{
    grid-area: area2;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0.836);
}
#cena3 {
    grid-area: area3;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0.836);
}
#cena4 {
    grid-area: area4;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0.836);
}
.titulos {
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}

#cor1 {
    background-color: rgb(202, 202, 37);
}

.paragrafos {
    background-color: black;
    color: white;
    margin-top: 0px;
    padding: 10px;
}

#cor {
    background-color: rgba(0, 0, 0, 0.836);
}

a {
    color: rgb(202, 202, 37);
}